#file name: 99-usb-serial.rules
#99 is so that it is run last and overrides other rules claiming the port

#put this file in /etc/udev/rules.d/

#get usb serial id of stm(YOUR_SERIAL_ID_*) using the command: udevadm info -a -n /dev/ttyACM1 | grep '{serial}' | head -n1
#run this command with only 1 stm plugged in

# encoder stm
SUBSYSTEM=="tty", ATTRS{serial}=="3161354C3034", SYMLINK+="stm_encoder_usb"

# imu stm
SUBSYSTEM=="tty", ATTRS{serial}=="318A388D3533", SYMLINK+="stm_imu_usb"


# lidar
SUBSYSTEM=="tty", ATTRS{serial}=="0001", SYMLINK+="lidar"

#similarly add rules for other arm wale stms

#after changing file run these 2 commands:
#sudo udevadm control --reload-rules
#sudo udevadm trigger
